*{margin: 0;padding: 0;}

body {
    background-color: rgb(0, 43, 54);
    color: rgb(222, 222, 222);
}

#editor {
    font-size: 14px;
    border: 1px solid #ccc;
    margin: 1em;
    overflow: auto;
    padding: 0.5em;
    width: 37vw;
    height: 95vh;
    line-height: 1.5em;
    box-sizing: border-box;
    transition: 0.5s all
}

#editor.hide{
    opacity: 0;
    width: 0;
}

#paper {
    position: fixed;
    right: 0;
    top: 0;
    width: 60vw;
    height: 95vh;
    background: #84cef5;
    margin: 1em;
    padding: 0.5em;
    color: #222;
    overflow: auto;
    box-sizing: border-box;
    transition: 0.5s all
}

#paper.full-screen{
    width: 100vw;
}

#paper div{
    transition: 0.5s all
}

/* 代码高亮 */

.token.comment {color: rgb(99, 157, 214)}
.token.selector {color: #a6e22e}
.token.punctuation {color: #f8f8f2}
.token.property {color: #f92672}
.token.function {color: #e6db74}

.btn-group{
    text-align: right;
}

.btn-group .btn{
    display: inline-block;
    line-height: 36px;
    padding: 0 10px;
    border: 3px solid #f8c6e0;
    color: #fff;
    background-color: #ea655d;
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: 10px;
    user-select: none;
    -webkit-user-select: none;
}

@media screen and (max-width:540px) {
    #editor {
        height: 35vh;
        width: 100vw;
        margin: 0;
        border: none
    }
    #paper {
        height: 65vh;
        width: 100vw;
        top: 35vh;
        left: 0;
        margin: 0
    }
    #paper .peppa{
        transform: translate(-50%, -50%) scale(0.6)
    }

    #editor.hide{
        opacity: 0;
        width: 100vw;
        height: 0;
    }

    #paper.full-screen{
        height: 100vh;
        top: 0;
    }

    .btn-group{
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        left: 0;
    }
}